#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(29, 27, 27);
  border-radius: 50%;
  z-index: 1; /* Set the z-index to ensure particles are behind the text */
}